@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&family=Rajdhani:wght@400;500;600;700&display=swap');

  /* TEXT */
  $color-text-primary: #F36639;
  $color-text-dark: #424242;
  $font-text-primary: 'Barlow', sans-serif;
  $font-text-nav-card: 'Rajdhani', sans-serif;

  /* COLOR */
  $primary-color: #F36639;
  $orange-formular: #A63A16;
  $dark-grey: #333333;
  $light-grey: #F2F2F2;
  $blue-btn: #1F42F2;
