@import '@/assets/scss/variable.scss';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin h2-main {
    text-align: center;
    color: $primary-color;
    margin: 3em auto;
    font-size: 1.4em;

    @media screen and (min-width: 992px) {
        font-size: 1.8em;
        margin-top: 5em;
    }
}

@mixin btn-style($color-btn) {
        display: block;
        background: none;
        border: 2px solid $color-btn;
        font: inherit;
        line-height: 1;
        margin: 3em auto;
        padding: 1em 2em;
        transition: 0.5s;
        color: $color-btn;
        border-radius: 10px;

        &:hover,
        &:focus { 
            color: white;
            box-shadow: inset 20em 0 0 0 $color-btn;
        }
}